---
swagger: "2.0"
info:
  description: "Loans Related APIs"
  version: "v1.0.0"
  title: "Loans Related APIs"
host: "api.server.com"
basePath: "/api/v1.0.0/"
schemes:
- "http"
- "https"
security:
- basicAuth: []
paths:
  /party/loan/arrangement/detail:
    get:
      operationId: "getLoanDetail"
      produces:
      - "application/json"
      parameters:
      - name: "arrangementId"
        in: "query"
        description: "Indicates an unique identifier of an account"
        required: false
        type: "string"
      - name: "dateFrom"
        in: "query"
        description: "Start date of the loan"
        required: false
        type: "string"
      - name: "dateTo"
        in: "query"
        description: "End date of the loan"
        required: false
        type: "string"
      - name: "balanceTypes"
        in: "query"
        description: "Type of balance (e.g. current balance, credit interest accrued,\
          \ deferred commission, etc.) as defined in the institution's accounting\
          \ schemas."
        required: false
        type: "string"
      - name: "page_size"
        in: "query"
        description: "The total number of records per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_start"
        in: "query"
        description: "The record from which the response should be displayed"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_token"
        in: "query"
        description: "Unique id expected to get as part of response from t24 on every\
          \ enquiry request."
        required: false
        type: "string"
      - name: "credentials"
        in: "header"
        description: "Username and password to authenticate the API against core-banking."
        required: false
        type: "string"
      - name: "companyId"
        in: "header"
        description: "The identifier of the underlying Entity/Company/Branch."
        required: false
        type: "string"
      responses:
        200:
          description: "LoanDetailResponse"
          schema:
            $ref: "#/definitions/LoanDetailResponse"
        default:
          description: "QueryErrorResponse"
          schema:
            $ref: "#/definitions/QueryErrorResponse"
        400:
          description: "BusinessQueryErrorResponse"
          schema:
            $ref: "#/definitions/BusinessQueryErrorResponse"
        500:
          description: "SystemQueryErrorResponse"
          schema:
            $ref: "#/definitions/SystemQueryErrorResponse"
  /party/loan/schedule/{id}:
    get:
      operationId: "getPaymentSchedule"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - name: "page_size"
        in: "query"
        description: "The total number of records per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_start"
        in: "query"
        description: "The record from which the response should be displayed"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_token"
        in: "query"
        description: "Unique id expected to get as part of response from t24 on every\
          \ enquiry request."
        required: false
        type: "string"
      - name: "credentials"
        in: "header"
        description: "Username and password to authenticate the API against core-banking."
        required: false
        type: "string"
      - name: "companyId"
        in: "header"
        description: "The identifier of the underlying Entity/Company/Branch."
        required: false
        type: "string"
      responses:
        200:
          description: "PaymentScheduleResponse"
          schema:
            $ref: "#/definitions/PaymentScheduleResponse"
        default:
          description: "QueryErrorResponse"
          schema:
            $ref: "#/definitions/QueryErrorResponse"
        400:
          description: "BusinessQueryErrorResponse"
          schema:
            $ref: "#/definitions/BusinessQueryErrorResponse"
        500:
          description: "SystemQueryErrorResponse"
          schema:
            $ref: "#/definitions/SystemQueryErrorResponse"
  /party/loan/detail:
    get:
      operationId: "getCustomerLoan"
      produces:
      - "application/json"
      parameters:
      - name: "customerId"
        in: "query"
        description: "Identifier of the customer"
        required: true
        type: "string"
      - name: "arrangementId"
        in: "query"
        description: "Indicates an unique identifier of an account"
        required: true
        type: "string"
      - name: "page_size"
        in: "query"
        description: "The total number of records per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_start"
        in: "query"
        description: "The record from which the response should be displayed"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_token"
        in: "query"
        description: "Unique id expected to get as part of response from t24 on every\
          \ enquiry request."
        required: false
        type: "string"
      - name: "credentials"
        in: "header"
        description: "Username and password to authenticate the API against core-banking."
        required: false
        type: "string"
      - name: "companyId"
        in: "header"
        description: "The identifier of the underlying Entity/Company/Branch."
        required: false
        type: "string"
      responses:
        200:
          description: "CustomerLoanResponse"
          schema:
            $ref: "#/definitions/CustomerLoanResponse"
        default:
          description: "QueryErrorResponse"
          schema:
            $ref: "#/definitions/QueryErrorResponse"
        400:
          description: "BusinessQueryErrorResponse"
          schema:
            $ref: "#/definitions/BusinessQueryErrorResponse"
        500:
          description: "SystemQueryErrorResponse"
          schema:
            $ref: "#/definitions/SystemQueryErrorResponse"
  /party/limit/accrued/interest/{id}:
    get:
      operationId: "getInterestDetailCurrent"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - name: "page_size"
        in: "query"
        description: "The total number of records per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_start"
        in: "query"
        description: "The record from which the response should be displayed"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_token"
        in: "query"
        description: "Unique id expected to get as part of response from t24 on every\
          \ enquiry request."
        required: false
        type: "string"
      - name: "credentials"
        in: "header"
        description: "Username and password to authenticate the API against core-banking."
        required: false
        type: "string"
      - name: "companyId"
        in: "header"
        description: "The identifier of the underlying Entity/Company/Branch."
        required: false
        type: "string"
      responses:
        200:
          description: "InterestDetailCurrentResponse"
          schema:
            $ref: "#/definitions/InterestDetailCurrentResponse"
        default:
          description: "QueryErrorResponse"
          schema:
            $ref: "#/definitions/QueryErrorResponse"
        400:
          description: "BusinessQueryErrorResponse"
          schema:
            $ref: "#/definitions/BusinessQueryErrorResponse"
        500:
          description: "SystemQueryErrorResponse"
          schema:
            $ref: "#/definitions/SystemQueryErrorResponse"
  /party/limit/detail/{id}:
    get:
      operationId: "getLimitDetail"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - name: "page_size"
        in: "query"
        description: "The total number of records per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_start"
        in: "query"
        description: "The record from which the response should be displayed"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_token"
        in: "query"
        description: "Unique id expected to get as part of response from t24 on every\
          \ enquiry request."
        required: false
        type: "string"
      - name: "credentials"
        in: "header"
        description: "Username and password to authenticate the API against core-banking."
        required: false
        type: "string"
      - name: "companyId"
        in: "header"
        description: "The identifier of the underlying Entity/Company/Branch."
        required: false
        type: "string"
      responses:
        200:
          description: "LimitDetailResponse"
          schema:
            $ref: "#/definitions/LimitDetailResponse"
        default:
          description: "QueryErrorResponse"
          schema:
            $ref: "#/definitions/QueryErrorResponse"
        400:
          description: "BusinessQueryErrorResponse"
          schema:
            $ref: "#/definitions/BusinessQueryErrorResponse"
        500:
          description: "SystemQueryErrorResponse"
          schema:
            $ref: "#/definitions/SystemQueryErrorResponse"
  /party/multiccyac/details/{id}:
    get:
      operationId: "getMcyCcyAccountDetails"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Record reference"
        required: true
        type: "string"
      - name: "page_size"
        in: "query"
        description: "The total number of records per page"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_start"
        in: "query"
        description: "The record from which the response should be displayed"
        required: false
        type: "integer"
        format: "int32"
      - name: "page_token"
        in: "query"
        description: "Unique id expected to get as part of response from t24 on every\
          \ enquiry request."
        required: false
        type: "string"
      - name: "credentials"
        in: "header"
        description: "Username and password to authenticate the API against core-banking."
        required: false
        type: "string"
      - name: "companyId"
        in: "header"
        description: "The identifier of the underlying Entity/Company/Branch."
        required: false
        type: "string"
      responses:
        200:
          description: "McyCcyAccountDetailsResponse"
          schema:
            $ref: "#/definitions/McyCcyAccountDetailsResponse"
        default:
          description: "QueryErrorResponse"
          schema:
            $ref: "#/definitions/QueryErrorResponse"
        400:
          description: "BusinessQueryErrorResponse"
          schema:
            $ref: "#/definitions/BusinessQueryErrorResponse"
        500:
          description: "SystemQueryErrorResponse"
          schema:
            $ref: "#/definitions/SystemQueryErrorResponse"
securityDefinitions:
  basicAuth:
    type: "basic"
definitions:
  QueryHeader:
    properties:
      audit:
        type: "object"
        properties:
          T24_time:
            type: "integer"
            format: "int32"
            description: "Time taken to response by T24"
          versionNumber:
            type: "string"
            description: "The CURR.NO. of the record"
          requestParse_time:
            type: "number"
            description: "Time taken to parse the request by IRIS"
          responseParse_time:
            type: "number"
            description: "Time taken to parse the response by IRIS"
      status:
        type: "string"
        description: "Status of the API(success/failed)"
      page_size:
        type: "integer"
        format: "int32"
        description: "The total number of records per page"
      page_start:
        type: "integer"
        format: "int32"
        description: "The record from which the response should be displayed"
      total_size:
        type: "integer"
        format: "int32"
        description: "The total number of records present"
      page_token:
        type: "string"
        description: "Unique id expected to get as part of response from t24 on every\
          \ enquiry request"
  LoanDetailResponse:
    properties:
      header:
        $ref: "#/definitions/QueryHeader"
      body:
        $ref: "#/definitions/LoanDetailResponseBody"
    description: "LoanDetailResponse"
  LoanDetailResponseBody:
    type: "array"
    items:
      type: "object"
      properties:
        interests:
          type: "array"
          description: "Interest amount"
          items:
            type: "object"
            properties:
              interestRate:
                type: "string"
                description: "Identifies the bid rate of the related currency for\
                  \ the defined time period"
              interestProperty:
                type: "string"
                description: "Indicates the interest property name"
              interestPropertyName:
                type: "string"
                description: "Contains the property name of loan interest such as\
                  \ penalty Interest and principal interest."
              compoundType:
                type: "string"
                description: "Contains the frequency type of compound in loan. For\
                  \ example, annually or monthly."
              rateType:
                type: "string"
                description: "Fixed or floating rate."
              effectiveRate:
                type: "string"
                description: "Indicates the actual interest rate applied for the account\
                  \ after adjustment/tier calculation/based on basic or Periodic index\
                  \ value"
              tierType:
                type: "string"
                description: "Type of the tier rate. Allowed values: - BAND: rates\
                  \ apply within each band - LEVEL: a common rate applies, determined\
                  \ by the highest level"
              balanceTypes:
                type: "string"
                description: "Type of balance (e.g. current balance, credit interest\
                  \ accrued, deferred commission, etc.) as defined in the institution's\
                  \ accounting schemas."
              balanceAmount:
                type: "number"
                description: "Amount of the balance"
        schedules:
          type: "array"
          description: "Indicates where this pool may be run either online or End\
            \ of the day."
          items:
            type: "object"
            properties:
              paidScheduleCount:
                type: "string"
                description: "Count of the paid dates for repayment."
              dueScheduleCount:
                type: "string"
                description: "Count of the due dates for repayment."
              futureScheduleCount:
                type: "string"
                description: "Count of the future scheduled payments involving the\
                  \ principal and interest for a given loan"
              schedulePaymentType:
                type: "string"
                description: "Indicates payment schedule type"
              schedulePaymentMethod:
                type: "string"
                description: "Denotes the payment schedule method of the loan such\
                  \ as capitalise, pay, due and maintain."
              scheduleProperty:
                type: "string"
                description: "Denotes the property of the loans schedule"
              schedulePaymentAmount:
                type: "string"
                description: "Contains the amount payable in the schedule"
              schedulePaymentFrequency:
                type: "string"
                description: "Indicates the frequency associated - Eg. Pay to customer\
                  \ or paid by bank"
        arrangementId:
          type: "string"
          description: "Indicates an unique identifier of an account"
        currencyId:
          type: "string"
          description: "Identifier of the currency. This is the 3-letter ISO 4217\
            \ code of the currency."
        startDate:
          type: "string"
          format: "date"
          description: "Contains the date on which the transaction or payment gets\
            \ initiated."
        maturityDate:
          type: "string"
          format: "date"
          description: "Indicates maturity date of the contract"
        maturesIn:
          type: "string"
          description: "Indicates a date or period within which an account gets matured"
        coolingOffDate:
          type: "string"
          format: "date"
          description: "Indicates cooling off period for an account until which pre-closure\
            \ can be triggered without incurring any fees or charges."
        nextPaymentAmount:
          type: "number"
          description: "Indicates the payment amount to be settled in the next schedule"
        nextPaymentDate:
          type: "string"
          format: "date"
          description: "Indicates next payment date for the contract"
        virtualBalance:
          type: "string"
          description: "Contains the virtual balance of the collateral"
        lastPayment:
          type: "string"
          format: "date"
          description: "Last committed transaction"
        term:
          type: "string"
          description: "Indicates the term for which the contract is booked"
        payoffRequest:
          type: "string"
          description: "Request for loans settlement"
  ErrorHeader:
    properties:
      audit:
        type: "object"
        properties:
          T24_time:
            type: "integer"
            format: "int32"
            description: "Time taken to response by T24"
          versionNumber:
            type: "string"
            description: "The CURR.NO. of the record"
          requestParse_time:
            type: "number"
            description: "Time taken to parse the request by IRIS"
          responseParse_time:
            type: "number"
            description: "Time taken to parse the response by IRIS"
      status:
        type: "string"
        description: "Status of the API(success/failed)"
  QueryErrorResponse:
    properties:
      header:
        $ref: "#/definitions/ErrorHeader"
      error:
        $ref: "#/definitions/QueryErrorResponseBody"
    description: "QueryErrorResponse"
  QueryErrorResponseBody:
    type: "object"
    properties:
      code:
        type: "string"
        description: "The identifier of the error message"
      message:
        type: "string"
        description: "The actual t24 error message "
      type:
        type: "string"
        description: "The identifier of error type: "
  BusinessQueryErrorResponse:
    properties:
      header:
        $ref: "#/definitions/ErrorHeader"
      error:
        $ref: "#/definitions/BusinessQueryErrorResponseBody"
    description: "BusinessQueryErrorResponse"
  BusinessQueryErrorResponseBody:
    type: "object"
    properties:
      code:
        type: "string"
        description: "The identifier of the error message"
      message:
        type: "string"
        description: "The actual t24 error message for bad requests"
      type:
        type: "string"
        description: "The identifier of error type: Business"
  SystemQueryErrorResponse:
    properties:
      header:
        $ref: "#/definitions/ErrorHeader"
      error:
        $ref: "#/definitions/SystemQueryErrorResponseBody"
    description: "SystemQueryErrorResponse"
  SystemQueryErrorResponseBody:
    type: "object"
    properties:
      code:
        type: "string"
        description: "The identifier of the error message"
      message:
        type: "string"
        description: "The actual t24 error message caused by server"
      type:
        type: "string"
        description: "The identifier of error type: System"
  PaymentScheduleResponse:
    properties:
      header:
        $ref: "#/definitions/QueryHeader"
      body:
        $ref: "#/definitions/PaymentScheduleResponseBody"
    description: "PaymentScheduleResponse"
  PaymentScheduleResponseBody:
    type: "array"
    items:
      type: "object"
      properties:
        paymentDate:
          type: "string"
          format: "date"
          description: "The date on which a payment is due"
        totalAmount:
          type: "number"
          description: "Total amount"
          maximum: 19
        chargeAmount:
          type: "number"
          description: "Retrieves the Charge Amount after redeem"
          maximum: 19
        interestAmount:
          type: "number"
          description: "The accrued Interest due or accrued."
          maximum: 19
        principalAmount:
          type: "number"
          description: "Indicates the Principal Amount of the loan or a deposit"
          maximum: 19
        outstandingAmount:
          type: "number"
          description: "Contains the aggregate outstanding principal amount thereof\
            \ after giving effect to any borrowings and prepayments or repayments\
            \ of Committed Loans"
          maximum: 19
        scheduleType:
          type: "string"
          description: "The type of event schedule. The main ones are interest payment\
            \ (IP) , principal increase (PI), rate reset (RR)."
  CustomerLoanResponse:
    properties:
      header:
        $ref: "#/definitions/QueryHeader"
      body:
        $ref: "#/definitions/CustomerLoanResponseBody"
    description: "CustomerLoanResponse"
  CustomerLoanResponseBody:
    type: "array"
    items:
      type: "object"
      properties:
        loanAccountId:
          type: "string"
          description: "The identifier of the loan account"
          maxLength: 35
        loanProduct:
          type: "string"
          description: "The loan account product"
          maxLength: 30
        loanCurrency:
          type: "string"
          description: "Indicates the currency of the loan"
          maxLength: 3
        loanAmount:
          type: "number"
          description: "Indicates loan amount"
        loanBalance:
          type: "number"
          description: "Indicates the outstanding balance of the loan"
        loanInterestRate:
          type: "string"
          description: "Indicates the interest rate of the loan"
        loanInterestType:
          type: "string"
          description: "Indicates the interest rate type - Eg. Fixed, floating, periodic"
        loanStartDate:
          type: "string"
          format: "date"
          description: "Indicates the loan commencement date"
        loanNextPayDate:
          type: "string"
          format: "date"
          description: "Indicates the next payment date for the loan"
        loanEndDate:
          type: "string"
          format: "date"
          description: "Indicates the loan maturity date"
        productName:
          type: "string"
          description: "Product name of the bank for this account, proprietary definition."
          maxLength: 30
        customerShortName:
          type: "string"
          description: "Indicates the short name of Customer"
          maxLength: 10
        roleDisplayName:
          type: "string"
          description: "Indicates the type of role of a customer"
  InterestDetailCurrentResponse:
    properties:
      header:
        $ref: "#/definitions/QueryHeader"
      body:
        $ref: "#/definitions/InterestDetailCurrentResponseBody"
    description: "InterestDetailCurrentResponse"
  InterestDetailCurrentResponseBody:
    type: "array"
    items:
      type: "object"
      properties:
        interestProperty:
          type: "string"
          description: "Indicates the interest property name"
        startDate:
          type: "string"
          format: "date"
          description: "Contains the date on which the transaction or payment gets\
            \ initiated."
        positiveInterestAmount:
          type: "number"
          description: "Negative interest amount accrued"
        negativeInterestAmount:
          type: "number"
          description: "Indicates the negative amount of a interest property"
        adjustmentAmount:
          type: "number"
          description: "Indicates the adjusted interest amount"
        totalAmount:
          type: "number"
          description: "Total amount"
        endDate:
          type: "string"
          format: "date"
          description: "Indicates the date till which the transaction history requested.\
            \ If 20120101 is the start date and 20120201 is the end date, all transactions\
            \ that are booked between January 1 to February 1 2012 are returned"
        suppressStatus:
          type: "string"
          description: "Suppress Status"
  LimitDetailResponse:
    properties:
      header:
        $ref: "#/definitions/QueryHeader"
      body:
        $ref: "#/definitions/LimitDetailResponseBody"
    description: "LimitDetailResponse"
  LimitDetailResponseBody:
    type: "array"
    items:
      type: "object"
      properties:
        limitReferenceId:
          type: "string"
          description: "Limit reference identifier for the limit order."
          maxLength: 32
        limitCurrency:
          type: "string"
          description: "Currency in which the credit limit is granted"
          maxLength: 3
        onlineLimit:
          type: "string"
          description: ""
        limitType:
          type: "string"
          description: "Defines the limit type for the trade"
          maxLength: 10
        securedAmount:
          type: "string"
          description: ""
        outstandingAmount:
          type: "string"
          description: "Contains the aggregate outstanding principal amount thereof\
            \ after giving effect to any borrowings and prepayments or repayments\
            \ of Committed Loans"
        availableOrExcessAmount:
          type: "string"
          description: "Indicates the available amount defined in the Limit Condition"
          maxLength: 19
        limitVersion:
          type: "string"
          description: "Limit Version"
  McyCcyAccountDetailsResponse:
    properties:
      header:
        $ref: "#/definitions/QueryHeader"
      body:
        $ref: "#/definitions/McyCcyAccountDetailsResponseBody"
    description: "McyCcyAccountDetailsResponse"
  McyCcyAccountDetailsResponseBody:
    type: "array"
    items:
      type: "object"
      properties:
        accountReferences:
          type: "array"
          description: "Account Reference of the error account"
          items:
            type: "object"
            properties:
              mcyIban:
                type: "array"
                description: "mcy Iban"
                items:
                  type: "string"
              mcyExtAcReference:
                type: "array"
                description: "mcy Ext Ac Reference"
                items:
                  type: "string"
              mcyLegacyId:
                type: "array"
                description: "mcy Legacy Id"
                items:
                  type: "string"
              mcyLegacy2Id:
                type: "array"
                description: "mcy Legacy2 Id"
                items:
                  type: "string"
        mcyArrId:
          type: "string"
          description: "mcy Arr Id"
          maxLength: 17
        mcyAcNum:
          type: "string"
          description: "mcy Ac Num"
        mcyAcCustId:
          type: "string"
          description: "mcy Ac Cust Id"
          maxLength: 10
        mcyCusName:
          type: "string"
          description: "mcy Cus Name"
        subArrId:
          type: "string"
          description: "sub Arr Id"
          maxLength: 20
        subAcNum:
          type: "string"
          description: "sub Ac Num"
        subAcCcy:
          type: "string"
          description: "sub Ac Ccy"
        subAcCusId:
          type: "string"
          description: "sub Ac Cus Id"
        subAcCusName:
          type: "string"
          description: "sub Ac Cus Name"
