{
    "swagger": "2.0",
    "info": {
        "description": "Loans Related APIs",
        "version": "v3.0.0",
        "title": "Loans Related APIs"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "tags": [],
    "schemes": [
        "http",
        "https"
    ],
    "security": [
        {
            "basicAuth": []
        },
        {
            "apiKey": []
        }
    ],
    "paths": {
        "/party/loan/arrangement/detail": {
            "get": {
                "tags": [],
                "operationId": "getLoanDetail",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "arrangementId",
                        "in": "query",
                        "description": "Indicates an unique identifier of an account",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "description": "Start date of the loan",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dateTo",
                        "in": "query",
                        "description": "End date of the loan",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "balanceTypes",
                        "in": "query",
                        "description": "Type of balance (e.g. current balance, credit interest accrued, deferred commission, etc.) as defined in the institution's accounting schemas.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "simulationId",
                        "in": "query",
                        "description": "Indicates the Id generated during the simulation of an activity",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "LoanDetailResponse",
                        "schema": {
                            "$ref": "#/definitions/LoanDetailResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/schedule/{id}": {
            "get": {
                "tags": [],
                "operationId": "getPaymentSchedule",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Record reference",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PaymentScheduleResponse",
                        "schema": {
                            "$ref": "#/definitions/PaymentScheduleResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/detail": {
            "get": {
                "tags": [],
                "operationId": "getCustomerLoan",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "query",
                        "description": "Identifier of the customer",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "arrangementId",
                        "in": "query",
                        "description": "Indicates an unique identifier of an account",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CustomerLoanResponse",
                        "schema": {
                            "$ref": "#/definitions/CustomerLoanResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/limit/accrued/interest/{id}": {
            "get": {
                "tags": [],
                "operationId": "getInterestDetailCurrent",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Record reference",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "InterestDetailCurrentResponse",
                        "schema": {
                            "$ref": "#/definitions/InterestDetailCurrentResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/limit/detail/{id}": {
            "get": {
                "tags": [],
                "operationId": "getLimitDetail",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Record reference",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "LimitDetailResponse",
                        "schema": {
                            "$ref": "#/definitions/LimitDetailResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/multiccyac/details/{id}": {
            "get": {
                "tags": [],
                "operationId": "getMcyCcyAccountDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Record reference",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "McyCcyAccountDetailsResponse",
                        "schema": {
                            "$ref": "#/definitions/McyCcyAccountDetailsResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/get/sim/status/{id}": {
            "get": {
                "tags": [],
                "operationId": "getSimulationStatus",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Record reference",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SimulationStatusResponse",
                        "schema": {
                            "$ref": "#/definitions/SimulationStatusResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/payoff/simulation": {
            "post": {
                "tags": [],
                "operationId": "createCalPayoffSimulation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "payload",
                        "description": "body Payload",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CalPayoffSimulation"
                        }
                    },
                    {
                        "name": "validate_only",
                        "in": "query",
                        "description": "The identifier to indicate if it is set to only validate or not.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CalPayoffSimulationResponse",
                        "schema": {
                            "$ref": "#/definitions/CalPayoffSimulationResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    },
                    "default": {
                        "description": "ScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/payments/settlement": {
            "post": {
                "tags": [],
                "operationId": "CreateLoanPrePaymentFTApi",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "payload",
                        "description": "body Payload",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateLoanPrePaymentFTApi"
                        }
                    },
                    {
                        "name": "validate_only",
                        "in": "query",
                        "description": "The identifier to indicate if it is set to only validate or not.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CreateLoanPrePaymentFTApiResponse",
                        "schema": {
                            "$ref": "#/definitions/CreateLoanPrePaymentFTApiResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    },
                    "default": {
                        "description": "ScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/bill/details/{id}": {
            "get": {
                "tags": [],
                "operationId": "getTodayBillDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Record reference",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TodayBillDetailsResponse",
                        "schema": {
                            "$ref": "#/definitions/TodayBillDetailsResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/prepay/simulation": {
            "post": {
                "tags": [],
                "operationId": "createCalPayoffSimulationRunner",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "payload",
                        "description": "body Payload",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CalPayoffSimulationRunner"
                        }
                    },
                    {
                        "name": "validate_only",
                        "in": "query",
                        "description": "The identifier to indicate if it is set to only validate or not.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CalPayoffSimulationRunnerResponse",
                        "schema": {
                            "$ref": "#/definitions/CalPayoffSimulationRunnerResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    },
                    "default": {
                        "description": "ScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/simulation/schedule/details": {
            "get": {
                "tags": [],
                "operationId": "getLoanSimRunnerDetail",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "arrangementId",
                        "in": "query",
                        "description": "Indicates an unique identifier of an account",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "simulationId",
                        "in": "query",
                        "description": "Indicates the Id generated during the simulation of an activity",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "description": "Start date of the loan",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dateTo",
                        "in": "query",
                        "description": "End date of the loan",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "LoanSimRunnerDetailResponse",
                        "schema": {
                            "$ref": "#/definitions/LoanSimRunnerDetailResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/partial/payments": {
            "post": {
                "tags": [],
                "operationId": "CreateLoanPartPaymentFTApi",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "payload",
                        "description": "body Payload",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateLoanPartPaymentFTApi"
                        }
                    },
                    {
                        "name": "validate_only",
                        "in": "query",
                        "description": "The identifier to indicate if it is set to only validate or not.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CreateLoanPartPaymentFTApiResponse",
                        "schema": {
                            "$ref": "#/definitions/CreateLoanPartPaymentFTApiResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    },
                    "default": {
                        "description": "ScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/partial/payment/detail": {
            "get": {
                "tags": [],
                "operationId": "getLoanPartialPaymentDetail",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "arrangementId",
                        "in": "query",
                        "description": "Indicates an unique identifier of an account",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "simulationId",
                        "in": "query",
                        "description": "Indicates the Id generated during the simulation of an activity",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "LoanPartialPaymentDetailResponse",
                        "schema": {
                            "$ref": "#/definitions/LoanPartialPaymentDetailResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/payholiday/simulation": {
            "post": {
                "tags": [],
                "operationId": "createPaymentHolidaySimulation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "payload",
                        "description": "body Payload",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PaymentHolidaySimulation"
                        }
                    },
                    {
                        "name": "validate_only",
                        "in": "query",
                        "description": "The identifier to indicate if it is set to only validate or not.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PaymentHolidaySimulationResponse",
                        "schema": {
                            "$ref": "#/definitions/PaymentHolidaySimulationResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    },
                    "default": {
                        "description": "ScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/payholiday/activity": {
            "post": {
                "tags": [],
                "operationId": "createPaymentHolidayActivity",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "payload",
                        "description": "body Payload",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PaymentHolidayActivity"
                        }
                    },
                    {
                        "name": "validate_only",
                        "in": "query",
                        "description": "The identifier to indicate if it is set to only validate or not.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PaymentHolidayActivityResponse",
                        "schema": {
                            "$ref": "#/definitions/PaymentHolidayActivityResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    },
                    "default": {
                        "description": "ScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/payholiday/schedule/{id}": {
            "get": {
                "tags": [],
                "operationId": "getPayHolidaySchedule",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Record reference",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "description": "Start date of the loan",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dateTo",
                        "in": "query",
                        "description": "End date of the loan",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PayHolidayScheduleResponse",
                        "schema": {
                            "$ref": "#/definitions/PayHolidayScheduleResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/payholiday/simulation/schedule/details": {
            "get": {
                "tags": [],
                "operationId": "getPayHolidaySimRunnerDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "arrangementId",
                        "in": "query",
                        "description": "Indicates an unique identifier of an account",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "simulationId",
                        "in": "query",
                        "description": "Indicates the Id generated during the simulation of an activity",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "description": "Start date of the loan",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dateTo",
                        "in": "query",
                        "description": "End date of the loan",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PayHolidaySimRunnerDetailsResponse",
                        "schema": {
                            "$ref": "#/definitions/PayHolidaySimRunnerDetailsResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/payment/schedule/date/{id}": {
            "get": {
                "tags": [],
                "operationId": "getScheduledLastDate",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Record reference",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ScheduledLastDateResponse",
                        "schema": {
                            "$ref": "#/definitions/ScheduledLastDateResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/payment/duedatechange/simulation": {
            "post": {
                "tags": [],
                "operationId": "createSimulationDueDateChange",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "payload",
                        "description": "body Payload",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SimulationDueDateChange"
                        }
                    },
                    {
                        "name": "validate_only",
                        "in": "query",
                        "description": "The identifier to indicate if it is set to only validate or not.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SimulationDueDateChangeResponse",
                        "schema": {
                            "$ref": "#/definitions/SimulationDueDateChangeResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    },
                    "default": {
                        "description": "ScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/payment/duedatechange/activity": {
            "post": {
                "tags": [],
                "operationId": "createDueDateChangeActivity",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "payload",
                        "description": "body Payload",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DueDateChangeActivity"
                        }
                    },
                    {
                        "name": "validate_only",
                        "in": "query",
                        "description": "The identifier to indicate if it is set to only validate or not.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DueDateChangeActivityResponse",
                        "schema": {
                            "$ref": "#/definitions/DueDateChangeActivityResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessScreenErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemScreenErrorResponse"
                        }
                    },
                    "default": {
                        "description": "ScreenErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/loan/payment/duedatechange/simulation/details": {
            "get": {
                "tags": [],
                "operationId": "getDueDateSimDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "arrangementId",
                        "in": "query",
                        "description": "Indicates an unique identifier of an account",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "simulationId",
                        "in": "query",
                        "description": "Indicates the Id generated during the simulation of an activity",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "description": "Start date of the loan",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dateTo",
                        "in": "query",
                        "description": "End date of the loan",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The total number of records per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "The record from which the response should be displayed",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "page_token",
                        "in": "query",
                        "description": "Unique id expected to get as part of response from Transact on every enquiry request",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "credentials",
                        "in": "header",
                        "description": "Username and password to authenticate the API against core-banking.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyId",
                        "in": "header",
                        "description": "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceId",
                        "in": "header",
                        "description": "Identifies the device type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userRole",
                        "in": "header",
                        "description": "User who initiated the transaction",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "disablePagination",
                        "in": "header",
                        "description": "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DueDateSimDetailsResponse",
                        "schema": {
                            "$ref": "#/definitions/DueDateSimDetailsResponse"
                        }
                    },
                    "400": {
                        "description": "BusinessQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500": {
                        "description": "SystemQueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    },
                    "default": {
                        "description": "QueryErrorResponse",
                        "schema": {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic"
        },
        "apiKey": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "definitions": {
        "QueryHeader": {
            "properties": {
                "status": {
                    "type": "string",
                    "description": "Status of the API(success/failed)"
                },
                "audit": {
                    "type": "object",
                    "properties": {
                        "T24_time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by Transact"
                        },
                        "versionNumber": {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "requestParse_time": {
                            "type": "number",
                            "description": "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time": {
                            "type": "number",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token": {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from Transact on every enquiry request"
                }
            }
        },
        "LoanDetailResponse": {
            "properties": {
                "header": {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body": {
                    "$ref": "#/definitions/LoanDetailResponseBody"
                }
            },
            "description": "LoanDetailResponse"
        },
        "LoanDetailResponseBody": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "interests": {
                        "type": "array",
                        "description": "Interest amount",
                        "items": {
                            "type": "object",
                            "properties": {
                                "interestRate": {
                                    "type": "string",
                                    "description": "Identifies the bid rate of the related currency for the defined time period"
                                },
                                "interestProperty": {
                                    "type": "string",
                                    "description": "Indicates the interest property name"
                                },
[...]
